.container {
    padding: 0 .5rem;
}


.col-1 {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    text-align: center;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    text-align: center;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.col-5 {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
}

.col-6 {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
}

.rammi div {
    border: 1px dashed var(--nc-tx-1);
    padding: 1rem;
    margin: 0.5rem;
}
